  {% set totalPages = params.items | length %}

  {% set firstPageObj = params.items | first %}
  {% set lastPageObj = params.items | last %}

  {% set firstPageText = firstPageObj.text %}
  {% set firstPageNum = firstPageText | int %}
  {% set lastPageText = lastPageObj.text %}
  {% set lastPageNum = lastPageText | int %}

  {# Calculate middle pages #}
  {% set middlePagesEachSide = (params.maxLength - 1) / 2 %}

  {% if (params.page - middlePagesEachSide) <= 1 %}
      {% set middlePagesStart = 1 %}
      {% set middlePagesEnd = params.maxLength + 1 %}
  {% elif (params.page + middlePagesEachSide) >= totalPages %}
      {% set middlePagesStart = totalPages - params.maxLength + 1 %}
      {% set middlePagesEnd = totalPages %}
  {% else %}
      {% set middlePagesStart = params.page - middlePagesEachSide %}
      {% set middlePagesEnd = params.page + middlePagesEachSide %}
  {% endif %}

  {% if params.maxLength % 2 == 0 %}
    {% set middlePagesEnd = middlePagesEnd + 1 %}
  {% endif %}

  <aside>
    <span>Middle start - {{ middlePagesStart }}</span>
    <span>Middle pages end - {{ middlePagesEnd }}</span>
    <span>Middle pages each side - {{ middlePagesEachSide }}</span>
  </aside>

{% if totalPages !== 0 %}
  <nav class="hmrc-pagination" aria-label="Search results pagination">
  <ul class="hmrc-pagination__list">

  {# Previous Button #}
  {% if params.page != 1 %}<span class="hmrc-pagination__item  hmrc-pagination__item--prev"><a class="hmrc-pagination__link" href="previous"><span aria-hidden="true">Previous</span><span class="govuk-visually-hidden">Previous page</span></a></span>{% endif %}

  {# First page and truncation #}
  {% if middlePagesStart !== firstPageNum and params.page > 3 %}
    <span class="hmrc-pagination__item hmrc-pagination__page">
      <a href="{{ firstPageObj.href }}" class="hmrc-pagination__link">{{ firstPageText | safe }}</a>
    </span>
  {% endif %}

  {% if params.page > 4 %}
    <span class="hmrc-pagination__item hmrc-pagination__item--dots">&hellip;</span>
  {% endif %}

  {# Main pages #}
  {% for item in params.items -%}
    {% if loop.index >= middlePagesStart and loop.index <= middlePagesEnd %}
      {% set isActiveItem = loop.index == params.page %}
      <span class="hmrc-pagination__item hmrc-pagination__page {% if isActiveItem %} govuk-!-font-weight-bold hmrc-pagination__item--active{% endif %}"{% if isActiveItem %}aria-current="page"{% endif %}><a class="hmrc-pagination__link {% if isActiveItem %}hmrc-pagination__link--active{% endif %}" href="{{ item.href | urlencode }}">{{ item.text | safe }}</a></span>
    {% endif %}
  {%- endfor %}

  {# Last page and truncation #}
  {% if middlePagesEnd + 1 !== lastPageNum and params.page < totalPages - 3 %}
    <span class="hmrc-pagination__item hmrc-pagination__item--dots">&hellip;</span>
  {% endif %}

  {% if middlePagesEnd !== lastPageNum and params.page < totalPages - 2 %}
    <span class="hmrc-pagination__item hmrc-pagination__page">
      <a href="{{ lastPageObj.href }}" class="hmrc-pagination__link">{{ lastPageText | safe }}</a>
    </span>
  {% endif %}

  {# Next button #}
  {% if params.page != totalPages %}<span class="hmrc-pagination__item  hmrc-pagination__item--next"><a class="hmrc-pagination__link" href="next"><span aria-hidden="true">Next</span><span class="govuk-visually-hidden">Next page</span></a></span>{% endif %}
  </ul>
  </nav>

  {% endif %}
