.hmrc-banner {
  position: relative;
  padding: 10px 0 8px;
}

.hmrc-organisation-logo {
  padding: 5px 35px;
  border-left: 2px solid govuk-organisation-colour("hm-revenue-customs");
  background: url("#{$hmrc-assets-path}components/hmrc-banner/images/hmrc_crest_18px_x2.png") 5px center no-repeat;
  background-size: auto 26px;

  p {
    margin: 2px 0 0;
  }
}
