<h1 class="govuk-heading-xl">You have added {{ params.itemList | length | default('no', true)}} {{ params.itemType.plural | default('items')}}</h1>
<div class="govuk-form-group">
  <div class="hmrc-add-to-a-list hmrc-add-to-a-list--{{ params.itemSize | default('short') }}">
    {# loop through items in  the itemList #}
    {% for item in params.itemList %}
    <div class="hmrc-add-to-a-list__contents">
      <span class="hmrc-add-to-a-list__identifier hmrc-add-to-a-list__identifier--light">
        {{ item.name }}
      </span>
      <span class="hmrc-add-to-a-list__change">
        <a class="govuk-link" href="{{ item.changeUrl }}">
          <span aria-hidden="true">Change</span>
          <span class="govuk-visually-hidden">Change {{ item.name }}</span>
        </a>
      </span>
      <span class="hmrc-add-to-a-list__remove">
        <a class="govuk-link" href="{{ item.removeUrl }}">
          <span aria-hidden="true">Remove</span>
          <span class="govuk-visually-hidden">Remove {{item.name}} from the list</span>
        </a>
      </span>
    </div>
    {% else %}
    <p>Your list is empty.</p>
      {# empty list stuff goes here #}
    {% endfor %}
    {# end loop #}
  </div>
</div>
<form method="post" action="{{ params.formAction }}">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" id="add-another" aria-describedby="add-another-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Do you need to add another {{params.itemType.singular | default('item') }}?</legend>
      <span class="govuk-hint" id="add-another-hint">{{ params.hintText }}</span>
      <div class="govuk-radios govuk-radios--inline">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="add-another-yes" type="radio" name="add-another" value="true">
          <label class="govuk-radios__label" for="add-another-yes">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="add-another-no" type="radio" name="add-another" value="false">
          <label class="govuk-radios__label" for="add-another-no">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>
  <button type="submit" class="govuk-button">Continue</button>
</form>
