{# TODO: get this meta tag into the head somehow #}
<meta name="hmrc-timeout-dialog"
      content="hmrc-timeout-dialog"
      data-language="{{ params.language }}"
      data-timeout="{{ params.timeout }}"
      data-countdown="{{ params.countdown }}"
      data-keep-alive-url="{{ params.keepAliveUrl }}"
      data-sign-out-url="{{ params.signOutUrl }}"
      data-timeout-url="{{ params.timeoutUrl }}"
      data-title="{{ params.title }}"
      data-message="{{ params.message }}"
      data-message-suffix="{{ params.messageSuffix }}"
      data-keep-alive-button-text="{{ params.keepAliveButtonText }}"
      data-sign-out-button-text="{{ params.signOutButtonText }}"
      data-synchronise-tabs="{{ params.synchroniseTabs }}"
      data-hide-sign-out-button="{{ params.hideSignOutButton }}"/>
