{# TODO: get this meta tag into the head somehow #}
<meta name="hmrc-timeout-dialog"
      data-timeout="{{ params.timeout }}"
      data-countdown="{{ params.countdown }}"
      data-keep-alive-url="{{ params.keepAliveUrl }}"
      data-sign-out-url="{{ params.signOutUrl }}"
      data-title="{{ params.title }}"
      data-message="{{ params.message }}"
      data-keep-alive-button-text="{{ params.keepAliveButtonText }}"
      data-sign-out-button-text="{{ params.signOutButtonText }}" />
