.hmrc-service-navigation-language-select {
  @include govuk-font($size: 19);
  @include govuk-clearfix;
}

.hmrc-service-navigation-language-select__list {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hmrc-service-navigation-language-select__list-item  {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    &::after {
      content: "";
      display: block;
      height: 1em;
      margin-right: govuk-spacing(2);
      margin-left: govuk-spacing(2);
      border-right: 1px solid;
      border-right-color: govuk-functional-colour(border);
    }
  }
}

.hmrc-service-navigation-language-select .govuk-service-navigation__item {
  margin-top: govuk-spacing(1);
  margin-bottom: govuk-spacing(3);

  @include govuk-media-query($from: tablet) {
    margin-bottom: 0;
    margin-top: govuk-spacing(3);
  }
}
