{% set language %}{% if params.language == 'cy' %}cy{% else %}en{% endif %}{% endset %}

<a lang="{{ language }}" hreflang="{{ language }}"
  class="govuk-link {{ params.classes }}"
  target="_blank"
  href="{{ params.baseUrl }}/contact/problem_reports_nonjs?newTab=true{% if params.serviceCode %}&amp;service={{ params.serviceCode | urlencode }}{% endif %}{% if params.referrerUrl %}&amp;referrerUrl={{ params.referrerUrl | urlencode }}{% endif %}"
>{% if params.language == 'cy' %}A yw’r dudalen hon yn gweithio’n iawn? (yn agor mewn tab newydd){% else %}Is this page not working properly? (opens in new tab){% endif %}</a>
