.hmrc-notification-badge {
  display: inline-block;
  min-width: 10px;
  padding: 1px 4px 0 4px;
  border-radius: 10px;
  color: govuk-colour("white");
  background: govuk-colour("red");
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
}
