{% if params.text %}
<a class="govuk-link {{ params.classList }}" target="_blank" rel="noopener noreferrer" href="https://www.gov.uk/working-tax-credit/eligibility">{{ params.text }} {%  if params.language == 'en' %}(opens in a new window or tab){% endif %}{%  if params.language == 'cy' %}(yn agor ffenestr neu dab newydd){% endif %}</a>
{% endif %}
