{% if params.text %}
<a class="govuk-link {{ params.classList }}" target="_blank" rel="noopener noreferrer" href="{{ params.href }}">{{ params.text }} {%  if params.language == 'en' %}(opens in new tab){% endif %}{%  if params.language == 'cy' %}(yn agor tab newydd){% endif %}</a>
{% endif %}
