{% extends 'layout-hmrc-account-header.html' %}

{% block content %}
    <div style="min-height: 500px">
    <h1 class="govuk-heading-xl">HMRC Account Menu</h1>
    </div>
{% endblock %}

{% block bodyEnd %}
  <script src="/govuk-frontend/all.js"></script>
  <script src="/public/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>

  {% block scripts %}{% endblock %}
{% endblock %}
