{% set hmrcAccountHeader = {
  language: "en",
  languageToggle: {
    en: {
      href: "#lang=en"
    },
    cy: {
      href: "#lang=cy"
    }
  },
  accountHome:{
    href: "#account-home",
    active: true
  },
  messages: {
    href: "#messages",
    messageCount: 10
  },
  checkProgress: {
    href: "#check-progress"
  },
  paperlessSettings: {
    href: "#paperless-settings"
  },
  personalDetails: {
    href: "#personal-details"
  },
  signOut: {
    href: "#sign-out"
  }
} %}

{% extends 'layout-hmrc-account-header.html' %}

{% block content %}
  <div style="min-height: 500px">
    <h1 class="govuk-heading-xl">HMRC Account Menu</h1>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script src="/govuk-frontend/all.js"></script>
  <script src="/public/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>

  {% block scripts %}{% endblock %}
{% endblock %}
