// stylelint-disable
// Hello friend, you may see this comment when installing via govuk-prototype-kit.
// If so, please ensure your version of govuk-frontend is at least 5.4.0
//   - PlatUI
@import "../../../../govuk-frontend/dist/govuk/settings/index";
@import "../../../../govuk-frontend/dist/govuk/tools/index";
@import "../../../../govuk-frontend/dist/govuk/helpers/index";

// previously provided by govuk-template, no equivalent in govuk-frontend
.hidden {
  display: none;
  visibility: hidden;
}

// dirty, dirty, dirty
// Necessary as there's a specificity problem on the <li>'s in the mobile menu
// Note: these are relied on by teams not using the account menu, so handle with care
.hidden,
.no-js .js-visible,
.js .js-hidden {
  display: none !important;
}

$hmrc-account-menu-grey-1: #4a4a4a;
$hmrc-account-menu-yellow-1: #ffbf47;
$hmrc-account-menu-blue-1: #005ea5;
$hmrc-account-menu-transition-time: 0.3s;
$hmrc-transition-type: "all";

.hmrc-account-icon {
  background-repeat: no-repeat;
}

.hmrc-account-icon--home {
  padding-left: 22px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBkYXRhLW5hbWU9IkxheWVyIDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaW5ZTWlkIj48dGl0bGU+aWNvbi1ob21lPC90aXRsZT48cGF0aCBkPSJNMTIgMkwxIDEyLjVoMy4xOXY5LjM4aDUuNDR2LTcuMTNoNC41djcuMTNoNS40NFYxMi41SDIzTDEyIDJ6Ii8+PC9zdmc+");
  background-position: left -1px;
  background-size: 19px;
}

.hmrc-account-menu {
  @include govuk-font($size: 16);
  @include govuk-clearfix;

  position: relative;
  z-index: 0;
  margin-bottom: 0;
  transition: #{$hmrc-transition-type} $hmrc-account-menu-transition-time ease-in-out;
  border-bottom: 1px solid govuk-colour("mid-grey");
  background-color: govuk-colour("white");
}

.is-smaller.hmrc-account-menu {
  margin-bottom: 0;
  transition: none;
  border-bottom: 1px solid govuk-colour("mid-grey");

  &.main-nav-menu-is-open {
    margin-bottom: 5em;
  }

  li:last-of-type {
    a:last-of-type {
      padding-right: 0;
    }
  }
}

.hmrc-account-menu__link {
  @include govuk-font-size($size: 16);

  box-sizing: border-box;
  display: inline-block;
  padding: 12px 16px 8px;
  border-bottom: 4px solid transparent;
  color: $hmrc-account-menu-grey-1;
  font-weight: 300;
  line-height: 1.25;
  text-decoration: none;
  text-transform: none;

  &:visited {
    color: $hmrc-account-menu-grey-1;
  }

  &:hover,
  &:focus {
    outline: 3px solid rgba(0, 0, 0, 0);
    border-bottom-width: 4px;
    border-bottom-style: solid;
    color: $govuk-link-hover-colour;
    border-bottom-color: $govuk-link-hover-colour;
  }

  &:focus {
    background-color: $govuk-focus-colour;
    color: $govuk-focus-text-colour;
  }

  .hmrc-notification-badge {
    // otherwise the line height is slightly larger than the menu items and we
    // get a small gap under menu items without a notification badge.
    line-height: inherit;
  }

  &:not(.hmrc-account-menu__link--menu) {
    outline-offset: -3px;
  }
}

.is-smaller .hmrc-account-menu__link {
  padding-left: 10px;
  color: govuk-colour("black");
}

.hmrc-account-menu__link--home {
  padding: 12px 18px 8px 0;
  float: left;
}

/* stylelint-disable no-descending-specificity */
.is-smaller .hmrc-account-menu__link--home,
.is-smaller .hmrc-account-menu__link--menu {
  padding-left: 0;
}

body:not(.js-enabled) {
  .hmrc-account-menu__main {
    display: inline;
  }

  .hmrc-account-menu__link--menu {
    display: none;
  }
}

.hmrc-account-menu__link--menu {
  padding: 12px 20px 8px 0;
  float: right;
  border-bottom: 4px solid transparent;
}

.hmrc-account-menu__link--active,
.hmrc-account-menu__link--active:visited {
  border-bottom: 4px solid $govuk-brand-colour;
  color: govuk-colour("black");
}

.hmrc-account-menu__main {
  z-index: 995;
  margin: 0;
  float: right;

  li {
    display: inline-block;
    margin-bottom: 0;
  }
}

.is-smaller {
  .hmrc-account-menu__main {
    padding: 0;
    float: none;
    clear: both;
    background-color: govuk-colour("light-grey");

    &.main-nav-is-open {
      position: relative;
      border-top: 1px solid govuk-colour("mid-grey");

      &::before,
      &::after {
        content: " ";
        position: absolute;
        right: 4px;
        bottom: 100%;
        width: 0;
        height: 0;
        border: solid transparent;
        pointer-events: none;
      }

      &::before {
        right: 3px;
        border-width: 7px;
        border-bottom-color: govuk-colour("mid-grey");
      }

      &::after {
        margin-left: -6px;
        border-width: 6px;
        border-bottom-color: $govuk-body-background-colour;
      }
    }

    li {
      display: block;
      overflow: hidden;
      border-bottom: 1px solid govuk-colour("mid-grey");

      &:last-child {
        border-bottom: 0;
      }
    }

    .hmrc-account-menu__link {
      border-bottom: 0;
      display: block;

      &:hover {
        border-bottom: 0;
      }
    }
  }

  .hmrc-account-menu__link--back {
    padding-left: 20px;
    border-bottom: 1px solid govuk-colour("light-grey");
    background-image: url("#{$hmrc-assets-path}components/account-menu/images/icon-chevron-left.svg");
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 12px;

    .hmrc-account-menu__link {
      padding: 12px 8px 8px;

      &:focus {
        outline-offset: -3px;
        outline: 3px solid rgba(0, 0, 0, 0);
      }
    }
  }
}

.js-enabled .hmrc-account-menu__link--menu,
.js-enabled .is-smaller .hmrc-account-menu__link--more {
  background-image: url("#{$hmrc-assets-path}components/account-menu/images/icon-chevron-right.svg");
  background-repeat: no-repeat;
  background-position: right 4px center;
  background-size: 12px;
}

.js-enabled .hmrc-account-home--account--is-open,
.js-enabled .is-smaller .hmrc-account-menu__link--more-expanded,
.js-enabled .hmrc-account-menu__link--more {
  background-image: url("#{$hmrc-assets-path}components/account-menu/images/icon-chevron-down.svg");
  background-position: right 4px center;
  background-size: 12px;
}

.js-enabled .hmrc-account-menu__link--more {
  position: relative;
  padding-right: 31px;
  background-image: url("#{$hmrc-assets-path}components/account-menu/images/icon-chevron-down.svg");
  background-position: right 14px center;
  background-size: 12px;

  &::before,
  &::after {
    content: none;
  }

  &.hmrc-account-menu__link--more-expanded {
    &::before,
    &::after {
      content: " ";
      position: absolute;
      right: 14px;
      bottom: -5px;
      width: 0;
      height: 0;
      border: solid transparent;
      pointer-events: none;
    }

    &::before {
      right: 13px;
      border-width: 7px;
      border-bottom-color: govuk-colour("mid-grey");
    }

    &::after {
      margin-left: -6px;
      border-width: 6px;
      border-bottom-color: govuk-colour("light-grey");
    }
  }
}

.is-smaller .hmrc-account-menu__link--more-expanded {
  display: none;
}

.no-js {
  .hmrc-account-menu__main {
    li {
      display: inline;
    }
  }
}

$hmrc-banner-blue: #005ea5;

.hmrc-full-width-banner {
  display: block;
  position: relative;
  z-index: 999;
  color: govuk-colour("white");
  background-color: $hmrc-banner-blue;
}

.hmrc-full-width-banner__container {
  position: relative;
  padding: 20px 0.78947em;
}

.hmrc-full-width-banner a {
  color: govuk-colour("white");
}

.hmrc-full-width-banner__title {
  @include govuk-font($size: 19);

  margin-bottom: 5px;
  font-weight: 600;
}

.hmrc-full-width-banner__close {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.25;
  position: absolute;
  top: 20px;
  right: 15px;
  color: #ffffff;
}

@media print {
  .hmrc-full-width-banner__close {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .hmrc-full-width-banner__close {
    font-size: 0.875rem;
    line-height: 1.42857;
  }
}

@media print {
  .hmrc-full-width-banner__close {
    font-size: 12pt;
    line-height: 1.2;
  }
}

@media (min-width: govuk-media-query(tablet)) {
  .hmrc-full-width-banner__close {
    right: 35px;
  }

  .hmrc-full-width-banner__container {
    padding: 20px 30px 10px;
  }
}

// Note: this is relied on by teams not using the account menu, so handle with care
.js-hidden {
  display: none;
}

/* stylelint-enable no-descending-specificity */
