{% set language = params.language | default('en') %}
{% from "../notification-badge/macro.njk" import hmrcNotificationBadge %}

<!-- ACCOUNT MENU -->
<nav id="secondary-nav" class="hmrc-account-menu" aria-label="{% if language == 'cy' %}Cyfrif{% else %}Account{% endif %}" data-module="hmrc-account-menu">
  <a href="{{ params.accountHome.href | default('#') }}" class="hmrc-account-menu__link hmrc-account-menu__link--home{% if params.accountHome.active %} hmrc-account-menu__link--active{% endif %}">
    <span class="hmrc-account-icon hmrc-account-icon--home">
      {% if language == 'cy' %}Hafan y cyfrif{% else %}Account home{% endif %}
    </span>
  </a>

  <a href="#" class="hmrc-account-menu__link hmrc-account-menu__link--menu js-hidden js-visible" tabindex="-1" aria-hidden="true" aria-expanded="false">
    {% if language == 'cy' %}Dewislen y cyfrif{% else %}Account menu{% endif %}
  </a>

  <ul class="hmrc-account-menu__main js-hidden">
    <li class="hmrc-account-menu__link--back hidden" aria-hidden="true">
      <a href="#" tabindex="-1" class="hmrc-account-menu__link">
        {% if language == 'cy' %}Yn ôl{% else %}Back{% endif %}
      </a>
    </li>

    <li>
      <a href="{{ params.messages.href | default('#') }}" class="hmrc-account-menu__link{% if params.messages.active %} hmrc-account-menu__link--active{% endif %}">
        {% if language == 'cy' %}Negeseuon{% else %}Messages{% endif %}
        {% if params.messages.messageCount -%}
        {{ hmrcNotificationBadge({ text: params.messages.messageCount }) }}
        {%- endif -%}
      </a>
    </li>

    <li>
      <a href="{{ params.checkProgress.href | default('#') }}" class="hmrc-account-menu__link{% if params.checkProgress.active %} hmrc-account-menu__link--active{% endif %}">
        {% if language == 'cy' %}Gwirio cynnydd{% else %}Check progress{% endif %}
      </a>
    </li>

    <li>
      <a href="{{ params.yourProfile.href | default('#') }}" class="hmrc-account-menu__link{% if params.yourProfile.active %} hmrc-account-menu__link--active{% endif %}">
        {% if language == 'cy' %}Proffil a gosodiadau{% else %}Profile and settings{% endif %}
      </a>
    </li>

    {% if params.businessTaxAccount %}
      <li>
        <a href="{{ params.businessTaxAccount.href | default('#') }}" class="hmrc-account-menu__link{% if params.businessTaxAccount.active %} hmrc-account-menu__link--active{% endif %}">
          {% if language == 'cy' %}Cyfrif treth busnes{% else %}Business tax account{% endif %}
        </a>
      </li>
    {% endif %}

    <li>
      <a href="{{ params.signOut.href | default('#') }}" class="hmrc-account-menu__link">
        {% if language == 'cy' %}Allgofnodi{% else %}Sign out{% endif %}
      </a>
    </li>
  </ul>
</nav>
<!-- END ACCOUNT MENU -->
