<div class="hmrc-user-research-banner" data-module="hmrc-user-research-banner">
  <div class="hmrc-user-research-banner__container govuk-width-container">
    <div class="hmrc-user-research-banner__text">
        <h2 class="govuk-heading-s hmrc-user-research-banner__title">
          {% if params.language == 'cy' %}
            Helpwch i wella gwasanaethau CThEM
          {% else %}
            Help improve HMRC services
          {% endif %}
        </h2>
        <a class="govuk-link hmrc-user-research-banner__link" rel="noopener noreferrer" href="{{ params.url }}" target="_blank">
          {% if params.language == 'cy' %}
            Cofrestrwch i gymryd rhan mewn ymchwil defnyddwyr (yn agor tab newydd)
          {% else %}
            Sign up to take part in user research (opens in new tab)
          {% endif %}
        </a>
    </div>
    <button class="govuk-link hmrc-user-research-banner__close">
      {% if params.language == 'cy' %}
        <span aria-hidden="true">Dim diolch</span>{#- strip spaces -#}
        <span class="govuk-visually-hidden">Dim diolch, nid wyf am gymryd rhan yn yr ymchwil defnyddwyr - cuddio'r neges hon</span>
      {% else %}
        <span aria-hidden="true">No thanks</span>{#- strip spaces -#}
        <span class="govuk-visually-hidden">No thanks, I do not want to take part in user research, hide this message</span>
      {% endif %}
    </button>
  </div>
</div>
