<div class="hmrc-user-research-banner" data-module="hmrc-user-research-banner">
  <div class="hmrc-user-research-banner__container govuk-width-container">
    <div class="hmrc-user-research-banner__text">
      <h2 class="govuk-heading-s hmrc-user-research-banner__title">
        {% if params.language == 'cy' %}
          Helpwch i wella GOV.UK
        {% else %}
          Help make GOV.UK better
        {% endif %}
      </h2>
      <a class="govuk-link hmrc-user-research-banner__link" rel="noopener noreferrer" href="{{ params.url }}" target="_blank">
        {% if params.language == 'cy' %}
          Cofrestrwch i gymryd rhan mewn ymchwil (yn agor tab newydd)
        {% else %}
          Sign up to take part in research (opens in new tab)
        {% endif %}
      </a>
    </div>
    {% if not params.hideCloseButton %}
      <button class="govuk-button govuk-button--secondary hmrc-user-research-banner__close">
        {% if params.language == 'cy' %}
          <span aria-hidden="true">Cuddio’r neges</span>
          <span class="govuk-visually-hidden">Cuddio’r neges. Dydw i ddim eisiau cymryd rhan mewn ymchwil</span>
        {% else %}
          <span aria-hidden="true">Hide message</span>
          <span class="govuk-visually-hidden">Hide message. I do not want to take part in research</span>
        {% endif %}
      </button>
    {% endif %}
  </div>
</div>
