.hmrc-language-select {
  float: right;
}

.hmrc-language-select__items {
  margin: 0;
  padding: 0;
}

.hmrc-language-select__item {
  display: inline;
}

.hmrc-language-select__item + .hmrc-language-select__item:before {
  content: "|";
  color: govuk-colour("white");
}
