{% extends '../../layouts/account-header.html' %}

{% block beforeContent %}
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
{% endblock %}

{% block content %}
  <div style="min-height: 500px">
    <h1 class="govuk-heading-xl">HMRC Account Menu</h1>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script src="/govuk-frontend/govuk/all.js"></script>
  <script src="/public/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
  <script>window.HMRCFrontend.initAll()</script>

  {% block scripts %}{% endblock %}
{% endblock %}
