{% from "header/macro.njk" import govukHeader %}
{% from "account-menu/macro.njk" import hmrcAccountMenu %}

{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Service name",
  serviceUrl: "#",
  navigationClasses: "hmrc-language-select",
  navigation: [
    {
      href: "#",
      text: "English",
      active: true
    },
    {
      href: "#",
      text: "Welsh"
    }
  ]
}) }}

<main class="govuk-width-container">
  {{ hmrcAccountMenu ({ messageCount: params.messageCount }) }}
</main>
