.hmrc-internal-header {
  @include govuk-font($size: 19);

  box-sizing: border-box;
  padding: govuk-spacing(4) 0 govuk-spacing(3);
  border-bottom: 10px solid govuk-organisation-colour("hm-revenue-customs");

  @include govuk-media-query(desktop) {
    display: table;
    width: 100%;
    min-height: 35px;
  }
}

@media (forced-colors: active) {
  .hmrc-internal-header__logo-link {
    svg {
      forced-color-adjust: none;
      color: linktext;
    }
  }
}

.hmrc-internal-header__logo,
.hmrc-internal-header__service-name {
  box-sizing: border-box;
}

.hmrc-internal-header__logo {
  margin-bottom: govuk-spacing(2);
  position: relative;

  @include govuk-media-query(desktop) {
    width: 33.33%;
    float: left;
    vertical-align: top;
    margin-bottom: 0;
  }

  &::before {
    content: "";
    border-left: 2px solid govuk-organisation-colour("hm-revenue-customs");
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
  }
}

.hmrc-internal-header__logo-link {
  @include govuk-link-print-friendly;

  font-size: 1.25em;
  line-height: 32px;
  text-decoration: none;
  display: table;
  margin-left: 12px;
  padding-bottom: 3px;

  @include govuk-media-query ($from: tablet) {
    font-size: 1.0526em;
  }

  &:link,
  &:visited {
    color: govuk-colour("black");
  }

  &:hover,
  &:active {
    // Negate added border
    margin-bottom: $govuk-header-link-underline-thickness * -1;
    border-bottom: $govuk-header-link-underline-thickness solid;
  }

  &:focus {
    @include govuk-focused-text;

    margin-bottom: 0;
    border-bottom: 0;
  }

  svg {
    float: left;
    vertical-align: top;
    fill: currentcolor;
    margin-right: 10px;
  }

  img {
    float: left;
    vertical-align: top;
    width: 32px;
    height: 32px;
    padding: 0 10px;
  }
}

.hmrc-internal-header__logo-text {
  display: flex;
  vertical-align: top;
  margin: 0;
}

.hmrc-internal-header__service-name {
  @include govuk-font($size: 24, $weight: 'bold', $line-height: 1.25);

  @include govuk-media-query ($from: desktop) {
    width: 66.66%;
    padding-left: $govuk-gutter-half;
    float: left;
  }
}

.hmrc-internal-header__link {
  @include govuk-link-common;
  @include govuk-link-style-default;
  @include govuk-link-print-friendly;

  text-decoration: none;

  &:link,
  &:visited {
    color: govuk-colour("black");
  }

  &:hover,
  &:active {
    // Negate added border
    margin-bottom: $govuk-header-link-underline-thickness * -1;
    border-bottom: $govuk-header-link-underline-thickness solid;
  }

  &:focus {
    @include govuk-focused-text;

    margin-bottom: 0;
    border-bottom: 0;
  }
}
