<header role="banner" class="hmrc-internal-header">
    <div class="hmrc-internal-header__logo">
        <a href="{{ params.homepageUrl | default('/') }}" class="hmrc-internal-header__logo-link">
            {% if params.language == 'cy' %}
                Cyllid a Thollau EM
            {% else %}
                HM Revenue &amp; Customs
            {% endif %}
        </a>
    </div>

    {%- if params.serviceName -%}
    <div class="hmrc-internal-header__service-name">
        <a href="{{ params.serviceUrl }}" class="hmrc-internal-header__link">
         {{ params.serviceName }}
        </a>
    </div>
    {%- endif -%}
</header>
