@media (max-width: 640px) {
  .timeout-dialog {
    width: 280px !important;
  }
}

.timeout-overlay {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .8;
  background-color: govuk-colour("black");
  filter: alpha(opacity=80);
  -moz-opacity: .8;
}

html {
  &.no-scroll {
    overflow: hidden;
  }
}

.timeout-dialog {
  position: fixed;
  z-index: 1002;
  top: 50%;
  left: 50%;
  width: 435px;
  padding: 30px;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translate(-50%, -50%);
  border: 5px solid govuk-colour("black");
  background-color: govuk-colour("white");

  p {
    font-size: 19px;
    line-height: 1.31579;
  }

  .countdown {
    display: inline-block;
    font-weight: 700;
    white-space: nowrap;
  }

  .link {
    display: inline-block;
    padding: .526315em .789473em .263157em;
    line-height: 1.25;
  }

}
