{# TODO: get this meta tag into the head somehow #}
<meta name="hmrc-timeout-dialog"
  {% if params.timeout %}data-timeout="{{ params.timeout }}"{% endif %}
  {% if params.countdown %}data-countdown="{{ params.countdown }}"{% endif %}
  {% if params.keepAliveUrl %}data-keep-alive-url="{{ params.keepAliveUrl }}"{% endif %}
  {% if params.signOutUrl %}data-sign-out-url="{{ params.signOutUrl }}"{% endif %}
  {% if params.title %}data-title="{{ params.title }}"{% endif %}
  {% if params.message %}data-message="{{ params.message }}"{% endif %}
  {% if params.keepAliveButtonText %}data-keep-alive-button-text="{{ params.keepAliveButtonText }}"{% endif %}
  {% if params.signOutButtonText %}data-sign-out-button-text="{{ params.signOutButtonText }}"{% endif %} />
