.hmrc-header.hmrc-header--with-additional-navigation {
  .govuk-header__link--service-name {
    float: left;
  }

  .hmrc-sign-out-nav {
    float: right;
  }

  .hmrc-sign-out-nav__link {
    color: govuk-colour("white");
    font-weight: bold;
    line-height: 1.8em;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .hmrc-language-select {
    padding-right: govuk-spacing(3);
    float: right;

    .govuk-list {
      margin-bottom: 0;

      a {
        color: govuk-colour("white");

        &:not(.govuk-header__link) {
          color: govuk-colour("dark-grey");
          text-decoration: none;
        }
      }
    }

    .govuk-header__navigation-item {
      display: inline-block;
      margin-right: 0;
      border-bottom: 0;
    }

    .govuk-header__navigation-item + .govuk-header__navigation-item:before {
      content: "|";
      padding-right: 2px;
      color: govuk-colour("dark-grey");
    }
  }
}
