// stylelint-disable max-nesting-depth, number-max-precision -- deferred during move to stylelint-config-gds
$govuk-header-link-underline-thickness: 3px;

.hmrc-header.hmrc-header--with-additional-navigation {
  @include govuk-clearfix;

  .govuk-header__logo {
    display: inline-block;
  }

  .hmrc-sign-out-nav {
    float: right;
    margin-left: 10px;
  }

  .hmrc-sign-out-nav__link {
    @include govuk-link-common;
    @include govuk-link-style-inverse;

    position: relative;
    display: inline-block;
    padding: 22px 15px;
    font-weight: 700;
    color: govuk-colour("white");
    text-decoration: none;

    &:focus {
      box-shadow: 0 0 $govuk-focus-colour;
    }

    &::after {
      content: "";
      display: none;
      position: absolute;
      height: $govuk-header-link-underline-thickness;
      right: 15px;
      bottom: 0;
      left: 15px;
      background-color: govuk-colour("white");
    }

    &:hover::after {
      display: block;
    }

    &:focus::after {
      display: block;
      background-color: govuk-colour('black');
    }
  }
}

