// stylelint-disable max-nesting-depth, number-max-precision -- deferred during move to stylelint-config-gds
$govuk-header-link-underline-thickness: 3px;

.hmrc-header.hmrc-header--with-additional-navigation {
  .govuk-header__service-name {
    float: left;
  }

  .govuk-header__navigation-list {
    clear: left;
  }

  .hmrc-sign-out-nav {
    float: right;

    .govuk-template--rebranded & {
      @include govuk-media-query($from: desktop) {
        padding-top: govuk-spacing(3) + 3px; // makes the baseline match gov.uk logo and service name
      }
    }
  }

  .govuk-header__navigation + .hmrc-sign-out-nav {
    .govuk-template--rebranded & {
      padding-top: 0;
      padding-bottom: govuk-spacing(2);
    }
  }

  .hmrc-sign-out-nav__link {
    color: govuk-colour("white");
    font-weight: bold;
    line-height: 1.64285;
    text-decoration: none;

    @include govuk-media-query($from: desktop) {
      line-height: 2.375;
    }

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      color: #0b0c0c;
    }

    .govuk-template--rebranded & {
      @include govuk-link-common; // explicit choice to differ from govuk-frontend header links
      @include govuk-link-style-inverse;

      font-weight: normal;

      &:hover {
        text-decoration-thickness: $govuk-header-link-underline-thickness;
      }
    }
  }

  .hmrc-language-select {
    padding-right: govuk-spacing(3);
    float: right;

    .govuk-template--rebranded & {
      padding-right: 0;
    }

    .govuk-list {
      margin-bottom: 0;

      .govuk-template--rebranded & {
        @include govuk-media-query($from: desktop) {
          padding-top: govuk-spacing(3) + 3px; // makes the baseline match gov.uk logo and service name
        }
      }

      .govuk-header__link {
        .govuk-template--rebranded & {
          @include govuk-link-common; // explicit choice to differ from govuk-frontend header links
          @include govuk-link-style-inverse;

          font-weight: normal;

          &:hover {
            text-decoration-thickness: $govuk-header-link-underline-thickness;
          }
        }
      }

      a:not(.govuk-header__link) {
        @include govuk-font($size: 16, $weight: "bold");

        color: govuk-colour("mid-grey");
        text-decoration: none;

        &:link,
        &:hover,
        &:visited,
        &:focus {
          .govuk-template--rebranded & {
            font-weight: normal;
            color: #ffffff;
          }
        }
      }
    }

    .govuk-header__navigation-item {
      display: inline-block;
      margin-right: 0;
      border-bottom: 0;

      .govuk-template--rebranded & {
        padding-top: 0;
        padding-bottom: govuk-spacing(2);
      }
    }

    .govuk-header__navigation-item + .govuk-header__navigation-item::before {
      content: "|";
      padding-right: 2px;
      color: govuk-colour("dark-grey");

      .govuk-template--rebranded & {
        color: #ffffff50; // is this acceptable? mimics the existing light grey...
      }
    }
  }
}

.govuk-template--rebranded .hmrc-header.hmrc-header--with-additional-navigation .govuk-header__navigation + .hmrc-language-select .govuk-list {
  padding-top: 0;
}

.hmrc-header__service-name {
  display: inline-block;
  margin-bottom: govuk-spacing(2);

  @include govuk-font-size($size: 24);
  @include govuk-typography-weight-bold;
}

.hmrc-header__service-name--linked {
  @include govuk-link-style-inverse;

  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: $govuk-header-link-underline-thickness;

    @if $govuk-link-underline-offset {
      text-underline-offset: $govuk-link-underline-offset;
    }
  }

  &:focus {
    @include govuk-focused-text;
  }
}

// Shift user research banner up 10px to compensate for govuk header border
// only when adjacent to govuk header
.hmrc-header + .hmrc-user-research-banner {
  top: -10px;
}

// Above style is breaking the user-research-banner when the rebrand is enabled
.govuk-template--rebranded .hmrc-header + .hmrc-user-research-banner {
  top: 0;
}
