{% set language = params.language | default('en') %}
{% from "../banner/macro.njk" import hmrcBanner %}
{% from "../user-research-banner/macro.njk" import hmrcUserResearchBanner %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% from "govuk/macros/attributes.njk" import govukAttributes %}
{% from "govuk/macros/logo.njk" import govukLogo -%}

{%- set _rebrand = params.rebrand | default(govukRebrand() if govukRebrand is callable else govukRebrand) -%}

{%- set menuButtonText = params.menuButtonText if params.menuButtonText else ('Dewislen' if language == 'cy' else 'Menu') -%}

<header>
<div class="govuk-header hmrc-header {%- if params.classes %} {{ params.classes }}{% endif %}{{ ' hmrc-header--with-additional-navigation' if params.signOutHref or params.languageToggle }}{{ ' govuk-header--full-width-border' if params.serviceNavigation }}" data-module="govuk-header"
  {{- govukAttributes(params.attributes) }}>
  <div class="govuk-header__container {{ params.containerClasses | default("govuk-width-container", true) }}">
    <div class="govuk-header__logo">
      <a href="{{ params.homepageUrl | default("/", true) }}" class="govuk-header__link govuk-header__link--homepage">
        {{ govukLogo({
          classes: "govuk-header__logotype",
          ariaLabelText: "GOV.UK",
          useTudorCrown: params.useTudorCrown,
          rebrand: _rebrand
        }) | trim | indent(8) }}
        {% if (params.productName) %}
        <span class="govuk-header__product-name">{{ params.productName }}</span>
        {% endif %}
      </a>
    </div>
  {% if params.serviceName or params.navigation | length or params.signOutHref or params.languageToggle %}
    <div class="govuk-header__content">
    {% if params.serviceName %}
      {% if params.serviceUrl %}
      <a href="{{ params.serviceUrl }}" class="govuk-header__link govuk-header__service-name">
        {{ params.serviceName }}
      </a>
      {% else %}
      <span class="govuk-header__service-name">
        {{ params.serviceName }}
      </span>
      {% endif %}
    {% endif %}
    {% if params.navigation | length %}
      <nav aria-label="{{ params.navigationLabel | default(menuButtonText, true) }}" class="govuk-header__navigation {%- if params.navigationClasses %} {{ params.navigationClasses }}{% endif %}">
        <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" {%- if params.menuButtonLabel and params.menuButtonLabel != menuButtonText %} aria-label="{{ params.menuButtonLabel }}"{% endif %} hidden>
          {{ menuButtonText }}
        </button>

        <ul id="navigation" class="govuk-header__navigation-list">
        {% for item in params.navigation %}
          {% if item.text or item.html %}
          <li class="govuk-header__navigation-item {%- if item.active %} govuk-header__navigation-item--active{% endif %}">
            {% if item.href %}
            <a class="govuk-header__link" href="{{ item.href }}"
              {{- govukAttributes(item.attributes) -}}>
            {% endif %}
              {{ item.html | safe | trim | indent(14) if item.html else item.text }}
            {% if item.href %}
            </a>
            {% endif %}
          </li>
          {% endif %}
        {% endfor %}
        </ul>
      </nav>
    {% endif %}
    {% if params.signOutHref %}
      <nav class="hmrc-sign-out-nav">
        <a class="govuk-link hmrc-sign-out-nav__link" href="{{ params.signOutHref }}">
        {% if language == 'cy' %}Allgofnodi{% else %}Sign out{% endif %}
        </a>
      </nav>
    {% elseif params.languageToggle %}{# TODO should this really be elseif? #}
      <nav class="hmrc-language-select" {% if language == 'en' %} aria-label="Choose a language" {% else %} aria-label="Dewiswch iaith"{% endif %}>
        <ul class="govuk-list hmrc-language-select__items">
          <li class="govuk-header__navigation-item">
            <a{% if language == 'en' %} aria-current="page"{% else %} class="govuk-header__link"{% endif %}
              lang="en" hreflang="en" href="{{ params.languageToggle.en.href }}">English</a>
          </li>
          <li class="govuk-header__navigation-item">
            <a {% if language == 'cy' %} aria-current="page"{% else %} class="govuk-header__link"{% endif %}
              lang="cy" hreflang="cy" href="{{ params.languageToggle.cy.href }}">Cymraeg</a>
          </li>
        </ul>
      </nav>
    {% endif %}
    </div>
  {% endif %}
  </div>
</div>
{% if params.displayHmrcBanner and not params.useDeprecatedPositionForHmrcBanner %}
  <div class="govuk-width-container">
    {{ hmrcBanner({language: params.language, useTudorCrown: params.useTudorCrown}) }}
  </div>
{% endif %}
{% if params.serviceNavigation %}
    {{ govukServiceNavigation(params.serviceNavigation) }}
{% endif %}
{%- if params.phaseBanner %}
  <div class="govuk-width-container">
    {{ govukPhaseBanner(params.phaseBanner) }}
  </div>
{% endif %}
{%- if params.userResearchBanner %}
    {{ hmrcUserResearchBanner({language: params.language, url: params.userResearchBanner.url }) }}
{% endif %}
{% if params.displayHmrcBanner and params.useDeprecatedPositionForHmrcBanner %}
  <div class="govuk-width-container">
    {{ hmrcBanner({language: params.language, useTudorCrown: params.useTudorCrown}) }}
  </div>
{% endif %}
{{- params.additionalBannersBlock | safe }}
</header>
