{% set language = params.language | default('en') %}
{% from "../banner/macro.njk" import hmrcBanner %}
{% from "../user-research-banner/macro.njk" import hmrcUserResearchBanner %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/header/macro.njk" import govukHeader %}

{% from "govuk/macros/attributes.njk" import govukAttributes %}
{% from "govuk/macros/logo.njk" import govukLogo -%}

<header class="govuk-template__header">
  {{ govukHeader({classes: params.classes, containerClasses: params.containerClasses, homepageUrl: params.homepageUrl, productName: params.productName}) }}

  {% if params.displayHmrcBanner %}
    <div class="govuk-width-container">
      {{ hmrcBanner({language: params.language}) }}
    </div>
  {% endif %}

  {% if params.serviceNavigation %}
      {{ govukServiceNavigation(params.serviceNavigation) }}
  {% endif %}

  {%- if params.userResearchBanner %}
      {{ hmrcUserResearchBanner({language: params.language, url: params.userResearchBanner.url }) }}
  {% endif %}

  {{- params.additionalBannersBlock | safe }}

</header>
