<header class="hmrc-page-heading">
  <h1 class="govuk-heading-xl">{{ params.text }}</h1>
  {%- if params.section -%}
    <p class="govuk-caption-xl hmrc-caption-xl"><span class="govuk-visually-hidden">This section is </span>{{ params.section }}</p>
  {%- endif -%}
</header>
