{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% set contentLicenceHtml -%}
  {% if(params.language == 'cy') %}Mae‘r holl gynnwys ar gael o dan {% else %}All content is available under the {% endif %}
  <a
    class="govuk-footer__link"
    href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
    rel="license"
  >{% if(params.language == 'cy') %}y Drwydded Llywodraeth Agored{% else %}Open Government Licence{% endif %} v3.0</a>, {% if(params.language == 'cy') %}oni nodir yn wahanol{% else %}except where otherwise stated{% endif %}
{%- endset %}

{% set copyrightHtml -%}
© {% if(params.language == 'cy') %}Hawlfraint y Goron{% else %}Crown copyright{% endif %}
{%- endset %}

{% set defaultMetaVisuallyHiddenTitle = "Cysylltiadau cymorth" if params.language == "cy" else "Support links" %}

{{ govukFooter({
  meta: {
    visuallyHiddenTitle: params.meta.visuallyHiddenTitle | default(defaultMetaVisuallyHiddenTitle),
    html: params.meta.html,
    text: params.meta.text,
    items: params.meta.items
  } if params.meta,
  navigation: params.navigation,
  contentLicence: {
    html: contentLicenceHtml
  },
  copyright: {
    html: copyrightHtml
  },
  containerClasses: params.containerClasses,
  classes: params.classes,
  attributes: params.attributes,
  rebrand: params.rebrand
}) }}
