.hmrc-page-heading {
  display: table;
  width: 100%;
  margin-top: govuk-em(60, 32);
  margin-bottom: govuk-em(30, 32);
  padding-top: 8px;
  clear: both;
  table-layout: fixed;

  @include govuk-media-query($from: tablet) {
    margin-top: govuk-em(90, 48);
    margin-bottom: govuk-em(60, 48);
  }

  .hmrc-caption-xl {
    display: table-header-group;
  }
}
