<header class="hmrc-page-heading{%- if params.classes %} {{ params.classes }}{%- endif -%}">
  <h1 class="{{ params.headingClasses | default('govuk-heading-xl') }}">{{ params.text }}</h1>
  {%- if params.section -%}
    <p class="hmrc-caption {{ params.captionClasses | default('govuk-caption-xl') }}"><span class="govuk-visually-hidden">{% if params.language === 'cy' %}Teitl yr adran hon yw{%else%}This section is{%endif%} </span>{{ params.section }}</p>
  {%- endif -%}
</header>
