@import "../../../../govuk-frontend/govuk/settings/all";
@import "../../../../govuk-frontend/govuk/tools/all";
@import "../../../../govuk-frontend/govuk/helpers/all";

// Kept for backward compatibility with add-to-a-list
.hmrc-list-with-actions--short {
  @include govuk-media-query($from: desktop) {
    .govuk-summary-list__value {
      width: 30%;
    }

    .govuk-summary-list__actions {
      width: 70%;
    }
  }
}

// Kept for backward compatibility with add-to-a-list
.hmrc-list-with-actions--long {
  @include govuk-media-query($from: desktop) {
    .govuk-summary-list__value {
      width: 50%;
    }

    .govuk-summary-list__actions {
      width: 50%;
    }
  }
}
