.hmrc-logo {
  border-left: 2px solid govuk-organisation-colour("hm-revenue-customs");
}

.hmrc-logo__link {

  display: table;

  &::before {
    content: "";
    display: table-cell;
    width: 52px;
    height: 32px;
    background: url("#{$hmrc-assets-path}/components/hmrc-internal-header/images/hmrc-crown-logo_black.svg") no-repeat;
    background-size: 100% 100%;
  }

  &:link,

  &:visited {
    color: govuk-colour("black");
    font-size: 20px;
    line-height: 32px;
    text-decoration: none;
  }
}

.hmrc-logo__img {
  visibility: hidden;
  width: 0;
  height: 0;
}
