$govuk-extensions-url-context: "/extension-assets" !default;

$hmrc-assets-path: $govuk-extensions-url-context + "/hmrc-frontend/hmrc/";

$govuk-suppressed-warnings: (
  // following is inherited default value set by govuk-prototype-kit when loading plugin scss
  legacy-colour-param
);

@import "all";
