$govuk-global-styles: false;
$hmrc-assets-path: "";
$govuk-assets-path: "govuk/";
$govuk-new-link-styles: true;

@import "../../govuk-frontend/dist/govuk/index";
@import "components/all";
@import "hmrc-frontend-print-overrides";
