@use "components/all" as * with (
  $govuk-global-styles: true,
  $govuk-new-link-styles: true !default,
  $govuk-new-organisation-colours: true !default,
  $hmrc-assets-path: "./" !default,
  $govuk-assets-path: $hmrc-assets-path !default
);
