{% extends "layout.html" %}

{% from "hmrc-account-menu/macro.njk" import hmrcAccountMenu %}
{% from "hmrc-header/macro.njk" import hmrcHeader %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% set serviceName = "HMRC Frontend" %}
{{ hmrcHeader({
  homepageUrl: "/",
  serviceName: serviceName,
  serviceUrl: "/",
  containerClasses: "govuk-width-container",
  languageToggle: {
    currentLanguage: currentLanguage or 'en'
  }
}) }}
{% endblock %}

{% block main %}
  <div class="govuk-width-container">
    {% block beforeContent %}{% endblock %}
    {{ hmrcAccountMenu ({ messageCount: messageCount }) }}
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main">
      {% block content %}{% endblock %}
    </main>
  </div>
{% endblock %}
