
$govuk-is-ie8: false !default;
@import "node_modules/govuk-frontend/settings/media-queries";
@import "node_modules/govuk-frontend/settings/colours-applied";
@import "node_modules/govuk-frontend/settings/typography-font-families";
@import "node_modules/govuk-frontend/settings/typography-font";
@import "node_modules/govuk-frontend/settings/typography-responsive";
@import "node_modules/govuk-frontend/settings/assets";
@import "node_modules/govuk-frontend/tools/font-url";
@import "node_modules/govuk-frontend/tools/ie8";
@import "node_modules/govuk-frontend/helpers/clearfix";
@import "node_modules/govuk-frontend/helpers/typography";
@import "node_modules/govuk-frontend/helpers/font-faces";
@import "node_modules/govuk-frontend/helpers/media-queries";
@import "node_modules/govuk-frontend/vendor/sass-mq";

// previously provided by govuk-template, no equivalent in govuk-frontend
.hidden {
  display: none;
  visibility: hidden;
}

// dirty, dirty, dirty
// Necessary as there's a specicifity problem on the <li>'s in the mobile menu
.hidden,
.no-js .js-visible,
.js .js-hidden {
  display: none !important;
}

$hmrc-account-menu-grey-1: #4a4a4a;
$hmrc-account-menu-yellow-1: #ffbf47;
$hmrc-account-menu-blue-1: #005ea5;
$hmrc-account-menu-transition-time: .3s;
$hmrc-transition-type: "all";

.hmrc-account-icon {
  background-repeat: no-repeat;
}

.hmrc-account-icon--home {
  padding-left: 22px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBkYXRhLW5hbWU9IkxheWVyIDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaW5ZTWlkIj48dGl0bGU+aWNvbi1ob21lPC90aXRsZT48cGF0aCBkPSJNMTIgMkwxIDEyLjVoMy4xOXY5LjM4aDUuNDR2LTcuMTNoNC41djcuMTNoNS40NFYxMi41SDIzTDEyIDJ6Ii8+PC9zdmc+");
  background-position: left -1px;
  background-size: 19px;


  @include govuk-if-ie8 {
    background-image: url("#{$hmrc-assets-path}components/hmrc-account-menu/images/icon-home.png");
  }
}

.hmrc-account-menu {
  @include govuk-clearfix;
  position: relative;
  z-index: 0;
  margin-bottom: 0;
  transition: #{$hmrc-transition-type} $hmrc-account-menu-transition-time ease-in-out;
  border-bottom: 1px solid govuk-colour("grey-2");
  background-color: govuk-colour("white");

  &.hmrc-subnav-is-open {
    margin-bottom: 5em;
  }
}

.is-smaller.hmrc-account-menu {
  margin-bottom: 0;
  transition: none;
  border-bottom: 1px solid govuk-colour("grey-2");

  &.main-nav-menu-is-open {
    margin-bottom: 5em;
  }

  li:last-of-type {
    a:last-of-type {
      padding-right: 0;
    }
  }
}

.hmrc-account-menu__link {
  box-sizing: border-box;
  display: inline-block;
  padding: 12px 16px 8px;
  border-bottom: 4px solid transparent;
  color: $hmrc-account-menu-grey-1;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  text-decoration: none;
  text-transform: none;

  &:visited {
    color: $hmrc-account-menu-grey-1;
  }

  &:hover,
  &:focus {
    border-bottom-width: 4px;
    border-bottom-style: solid;
    color: govuk-colour("light-blue");
  }

  &:hover {
    border-bottom-color: govuk-colour("grey-3");
  }

  &:focus {
    border-bottom-color: $govuk-focus-colour;
    background-color: transparent;
  }
}

.is-smaller .hmrc-account-menu__link {
  padding-left: 10px;
  color: govuk-colour("black");

  &:hover {
    color: govuk-colour("black");
  }
}

.hmrc-account-menu__link--home {
  padding: 12px 18px 8px 0;
  float: left;
}

.is-smaller .hmrc-account-menu__link--home,
.is-smaller .hmrc-account-menu__link--menu {
  padding-left: 0;

  &:hover {
    border-bottom-color: transparent;
  }

  &:focus {
    border-bottom-color: $hmrc-account-menu-yellow-1;
    color: govuk-colour("light-blue");
  }

  &.hmrc-account-menu__link--active {
    &:hover {
      border-bottom-color: $govuk-brand-colour;
      color: govuk-colour("black");
    }

    &:focus {
      border-bottom-color: $hmrc-account-menu-yellow-1;
      color: govuk-colour("light-blue");
    }
  }
}

.hmrc-account-menu__link--menu {
  padding: 12px 20px 8px 0;
  float: right;
  border-bottom: 4px solid transparent;
}

.hmrc-account-menu__link--active,
.hmrc-account-menu__link--active:visited {
  border-bottom: 4px solid $govuk-brand-colour;
  color: govuk-colour("black");
}

.hmrc-account-menu__main {
  z-index: 995;
  margin: 0;
  float: right;

  li {
    display: inline-block;
    margin-bottom: 0;
  }
}

.is-smaller {
  .hmrc-account-menu__main {
    padding: 0;
    float: none;
    clear: both;
    background-color: govuk-colour("grey-4");

    &.main-nav-is-open,

    &.hmrc-subnav-is-open {
      position: relative;
      border-top: 1px solid govuk-colour("grey-2");

      &:before,
      &:after {
        content: " ";
        position: absolute;
        right: 4px;
        bottom: 100%;
        width: 0;
        height: 0;
        border: solid transparent;
        pointer-events: none;
      }

      &:before {
        right: 3px;
        border-width: 7px;
        border-bottom-color: govuk-colour("grey-2");
      }

      &:after {
        margin-left: -6px;
        border-width: 6px;
        border-bottom-color: $govuk-body-background-colour;
      }
    }

    li {
      display: block;
      overflow: hidden;
      border-bottom: 1px solid govuk-colour("grey-2");

      &:last-child,

      &.active-subnav-parent {
        border-bottom: 0;
      }
    }

    .hmrc-account-menu__link {
      border-bottom: 0;

      &:hover {
        border-bottom: 0;
      }
    }
  }

  .hmrc-account-menu__link--back {
    padding-left: 20px;
    border-bottom: 1px solid govuk-colour("grey-3");
    background-image: url("#{$hmrc-assets-path}components/hmrc-account-menu/images/icon-chevron-left.svg");
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 12px;

    @include govuk-if-ie8 {
      background-image: url("#{$hmrc-assets-path}components/hmrc-account-menu/images/icon-chevron-left.png");
    }

    .hmrc-account-menu__link {
      padding: 12px 8px 8px;

      &:focus {
        outline: none;
      }
    }
  }
}

.hmrc-subnav {
  display: none;
  position: absolute;
  z-index: -1;
  top: -61px;
  left: 0;
  width: 100%;
  //transition: margin .3s ease-in-out;
  border-bottom: 1px solid govuk-colour("grey-2");
  outline: none;
  background-color: govuk-colour("grey-4");


  a {
    text-decoration: none;

    &:visited {
      color: $govuk-brand-colour;
    }

    &:hover {
      color: govuk-colour("light-blue");
      text-decoration: underline;
    }
  }

  &.hmrc-subnav-reveal {
    display: block;
    top: 48px;
  }
}

.is-smaller .hmrc-subnav {
  position: relative;
  z-index: 1;
  top: inherit;
  margin: 0 0 0 10px;
  padding: 0;
  transition: none;
  border-bottom: 0;
  outline: none;

  &.hmrc-subnav-reveal {
    display: block;
  }
}

.hmrc-subnav .hmrc-subnav__section {
  padding-top: 20px;
  padding-bottom: 20px;

  &:first-child {
    > p,
    > div a {
      padding-right: 15px;
      padding-left: 30px;
    }
  }

  &:nth-child(2) {
    > p,
    > div a {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &:last-child {
    > p,
    > div a {
      padding-right: 30px;
    }
  }
}

.is-smaller .hmrc-subnav__section {
  width: 100%;
  margin: 0;
  padding: 1em 0 1em 0;
  border-bottom: 1px solid govuk-colour("grey-2");

  &:last-child {
    border-bottom: 0;
  }

  a:hover {
    color: $govuk-brand-colour;
  }

  &:first-child,
  &:nth-child(2),
  &:last-child {
    > p,
    > div a {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

hmrc-subnav__section__heading {
  margin: 0;
  padding-bottom: 5px;
  font-weight: 400;
}

.is-smaller hmrc-subnav__section__heading {
  @include govuk-font(16, $weight: bold);
  margin-bottom: 7px;
  font-weight: 600;
}

.js-enabled .hmrc-account-menu__link--menu,
.js-enabled .is-smaller .hmrc-account-menu__link--more {
  background-image: url("#{$hmrc-assets-path}components/hmrc-account-menu/images/icon-chevron-right.svg");
  background-repeat: no-repeat;
  background-position: right 4px center;
  background-size: 12px;

  @include govuk-if-ie8 {
    background-image: url("#{$hmrc-assets-path}components/hmrc-account-menu/images/icon-chevron-right.png");
  }
}

.js-enabled .hmrc-account-home--account--is-open,
.js-enabled .is-smaller .hmrc-account-menu__link--more-expanded,
.js-enabled .hmrc-account-menu__link--more {
  background-image: url("#{$hmrc-assets-path}components/hmrc-account-menu/images/icon-chevron-down.svg");
  background-position: right 4px center;
  background-size: 12px;

  @include govuk-if-ie8 {
    background-image: url("#{$hmrc-assets-path}components/hmrc-account-menu/images/icon-chevron-down.png");
  }
}

.js-enabled .hmrc-account-menu__link--more {
  position: relative;
  padding-right: 31px;
  border-bottom: 0;
  outline: none;
  background-image: url("#{$hmrc-assets-path}components/hmrc-account-menu/images/icon-chevron-down.svg");
  background-position: right 14px center;
  background-size: 12px;

  @include govuk-if-ie8 {
    background-image: url("#{$hmrc-assets-path}components/hmrc-account-menu/images/icon-chevron-down.png");
  }

  &:before,
  &:after {
    content: none;
  }

  &.hmrc-account-menu__link--more-expanded {
    &:before,
    &:after {
      content: " ";
      position: absolute;
      right: 14px;
      bottom: -5px;
      width: 0;
      height: 0;
      border: solid transparent;
      pointer-events: none;
    }

    &:before {
      right: 13px;
      border-width: 7px;
      border-bottom-color: govuk-colour("grey-2");
    }

    &:after {
      margin-left: -6px;
      border-width: 6px;
      border-bottom-color: govuk-colour("grey-4");
    }
  }
}

.is-smaller .hmrc-account-menu__link--more-expanded {
  display: none;
}

.no-js {
  .hmrc-account-menu__main {
    li {
      display: inline;
    }
  }

  .hmrc-subnav {
    position: static;
  }
}

$hmrc-banner-blue: #005ea5;

.hmrc-full-width-banner {
  display: block;
  position: relative;
  z-index: 999;
  color: govuk-colour("white");
  background-color: $hmrc-banner-blue;
}

.hmrc-full-width-banner__container {
  position: relative;
  padding: 20px .78947em;
}

.hmrc-full-width-banner a {
  color: govuk-colour("white");
}

.hmrc-full-width-banner__title {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
}

.hmrc-full-width-banner__close {
  position: absolute;
  top: 20px;
  right: 15px;
  color: govuk-colour("white");
  font-size: 14px;
}

@include mq(tablet) {
  .hmrc-full-width-banner__close {
    right: 35px;
  }

  .hmrc-full-width-banner__container {
    padding: 20px 30px 10px;
  }
}

.js-hidden {
  display: none;
}
