{% from "hmrc-notification-badge/macro.njk" import hmrcNotificationBadge %}

<!-- ACCOUNT MENU -->
<nav id="secondary-nav" class="hmrc-account-menu" aria-label="Account" data-module="hmrc-account-menu">
  <a href="{{ params.accountHome.href | default('#') }}" class="hmrc-account-menu__link hmrc-account-menu__link--home{% if params.accountHome.active %} hmrc-account-menu__link--active{% endif %}">
    <span class="hmrc-account-icon hmrc-account-icon--home">Account home</span>
  </a>

  <a href="#" class="hmrc-account-menu__link hmrc-account-menu__link--menu js-hidden js-visible" aria-hidden="true" aria-expanded="false">
    Account menu
  </a>

  <ul class="hmrc-account-menu__main js-hidden">
    <li class="hmrc-account-menu__link--back hidden" aria-hidden="true">
      <a href="#" class="hmrc-account-menu__link">
        Back
      </a>
    </li>

    <li>
      <a href="{{ params.messages.href | default('#') }}" class="hmrc-account-menu__link{% if params.messages.active %} hmrc-account-menu__link--active{% endif %}">
        Messages
        {% if params.messages.messageCount -%}
        {{ hmrcNotificationBadge({ text: params.messages.messageCount }) }}
        {%- endif -%}
      </a>
    </li>

    <li>
      <a href="{{ params.checkProgress.href | default('#') }}" class="hmrc-account-menu__link{% if params.checkProgress.active %} hmrc-account-menu__link--active{% endif %}">
        Check progress
      </a>
    </li>

    <li>
      <a href="#subnav-your-account" id="account-menu__main-2" class="hmrc-account-menu__link hmrc-account-icon hmrc-account-menu__link--more" aria-haspopup="true" aria-owns="subnav-your-account">
        Your account
      </a>

      <div class="hmrc-subnav" id="subnav-your-account" role="navigation" aria-labelledby="account-menu__main-2" aria-label="Your account">
        <div class="govuk-grid-column-one-third hmrc-subnav__section">
          <p class="hmrc-subnav__section__heading">Paperless settings</p>

          <div>
            <a href="{{ params.paperlessSettings.href | default('#') }}">Manage your paperless settings</a>
          </div>
        </div>

        <div class="govuk-grid-column-one-third hmrc-subnav__section">
          <p class="hmrc-subnav__section__heading">Personal details</p>

          <div>
            <a href="{{ params.personalDetails.href | default('#') }}">Manage your personal details</a>
          </div>
        </div>
      </div>
    </li>

    <li>
      <a href="{{ params.signOut.href | default('#') }}" class="hmrc-account-menu__link">Sign out</a>
    </li>
  </ul>
</nav>
<!-- END ACCOUNT MENU -->
