.hmrc-banner {
  position: relative;
  padding: 10px 0 6px;
}

.hmrc-organisation-logo {
  margin: 1px 35px 1px 0;
  padding: 3px 0 3px 5px;
  border-left: 2px solid govuk-organisation-colour("hm-revenue-customs");

  svg,
  img {
    vertical-align: middle;
  }

  p {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
  }
}
