.hmrc-banner {
  position: relative;
  padding: 10px 0 8px;
}

.hmrc-organisation-logo {
  padding: 5px 35px;

  svg {
    border-left: 2px solid govuk-organisation-colour("hm-revenue-customs");
    background-size: auto 26px;
  }

  span {
    margin: 2px 0 0;
  }
}
