<div class="hmrc-banner" role="banner">
  <div class="hmrc-organisation-logo">
    <p class="govuk-body-s">{% if params.language === 'cy' %}
        Cyllid a Thollau EM
      {% else %}
        HM Revenue &amp; Customs
      {% endif %}</p>
  </div>
</div>
