{% extends previewLayout + ".njk" %}

{% block head %}
  <!--[if !IE 8]><!-->
    <link rel="stylesheet" href="/public/app.css">
  <!--<![endif]-->
  <!--[if IE 8]>
    <link rel="stylesheet" href="/public/app-ie8.css">
  <![endif]-->
  <!--[if lt IE 9]>
    <script src="/vendor/html5-shiv/html5shiv.js"></script>
  <![endif]-->

  {% block styles %}{% endblock %}
{% endblock %}

{% set bodyClasses %}
 {{ bodyClasses }}
{% endset %}

{% block skipLink %}{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.15/iframeResizer.contentWindow.min.js"></script>
{% endblock %}
